h1,
h2 {
  font-family: Lato;
}

#title {
  margin: 0 auto;
  display: block;
  width: 700pt;
}

#selectBalls {
  width: 350pt;
  height: 250pt;
  border: 1px solid black;

  /* margin: 0 auto;
  margin-top: 20px;*/
  position: absolute;
  top: 150pt;
  left: 40pt;
}

#selectBalls label {
  display: block;
}

#foot {
  display: block;
  position: absolute;
  top: 290pt;
  right: 80pt;
  z-index: 5;
}

#displayBalls {
  width: 300pt;
  height: 282pt;
  /* border: 1px solid black; */

  /*margin: 0 auto;
  margin-top: 20px;*/
  position: absolute;
  top: 150pt;
  left: 455pt;

  background-image: url('https://cdn.jsdelivr.net/gh/benongithub/bingo-app-color@master/cage_transparent.png');
}

#drawBalls {
  width: 350pt;
  height: 180pt;
  border: 1px solid black;

  position: absolute;
  top: 420pt;
  left: 40pt;
}

#drawBall {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#drawnBall {
  width: 40px;
  height: 40px;
  border: 1px solid black;

  margin: 0 auto;
  margin-top: 20px;
}

.spinAnimation {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
